.log {
  max-height: 20vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: #E5D3B3;
}

.log p {
  margin: 0.25rem;
}

.log .button {
  width: fit-content;
}
