.setup-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.setup-board-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.sidebar-board-size {
  display: grid;
  grid-template-areas:
    "auto auto"
    "auto auto";
  column-gap: 2rem;
  row-gap: .5rem;
  align-items: center;
}

.setup-board-grid {
  display: grid;
  user-select: none;
}

.paint-cursor {
  cursor: url("/public/images/paintbrush.png") 0 16 default;
}

.sidebar-units {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.sidebar-units-image {
  cursor: pointer;
  height: 2.75rem;
  width: 2.75rem;
}
