.setup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stepper {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-bold {
  font-weight: bold;
}

.setup-main {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.setup-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px #B99976;
  border-radius: 1rem;
  padding: 2rem;
  min-width: 50%;
  max-width: 90%;
  gap: 2rem;
  overflow: auto;
}

.setup-buttons {
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-end;
  gap: 1rem;
}

.setup-left {
  width: 10rem;
  border: solid 1px #B99976;
  border-radius: 1rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.setup-right {
  width: 10rem;
  border: solid 1px #B99976;
  border-radius: 1rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.setup-right p {
  text-align: center;
  font-style: italic;
  color: red;
  padding: 0;
  margin: 0;
}

