.tile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile :first-child {
  width: 36px;
  height: 36px;
}

.red-border {
  border: solid 1px red; 
}

.grey-border {
  border: solid 1px lightgrey;
}
