.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.tile :first-child {
  width: 35px;
  height: 35px;
}

.red-border {
  border: solid 1px red; 
}

.grey-border {
  border: solid 1px lightgrey;
}

/* High Ground Triangle */
.high-ground {
  position: relative;
}

/* Bottom triangle pointing inward */
.high-ground::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #071c30 transparent transparent transparent;
  z-index: 0;
  pointer-events: none;
}

.test {
  color: #d9ead3; 
  color: #6aa84f;
  color: #b46006;
  color: #274e13;
  color: #38761d;
  color: #134f5c;
  color: #071c30;
  color: #c9daf8;
  color: #3c78d8;
  color: #ff9a00;
  color: #999999;
}
