.faction-list {}

.faction-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
}

.unit-list {}

.unit-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
}
