.tracker-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 7px 13px 7px 7px;
}

/* FACTION ICON */
.tracker-item-one {
  width: 30px;
}

/* NAME IDENTIFIER VETERANCY MEN LOCATION */
.tracker-item-two {
  display: flex;
  flex-direction: column;
  width: 500px;
}

/* HD CASUALTIES */
.tracker-item-three {
  display: flex;
  flex-direction: column;
  width: 250px;
  gap: .25rem;
}

.tracker-item-three textarea {
  resize: none;
  height: 20px;
}

/* FATIGUE */
.tracker-item-four {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
}

.fatigue-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
}

/* NOTES */
.tracker-item-five {
  width: 80%;
}

.tracker-item-five textarea {
  resize: none;
  width: 100%;
}