#
REACT_APP_ENVIRONMENT="DEV"
REACT_APP_SERVER_URL_DEV="http://localhost:8080"
REACT_APP_SERVER_URL_PROD="https://tacitus-wargaming-backend.onrender.com/"

# MIN MAX VALUES
REACT_APP_MAX_GRID_SIZE=60

REACT_APP_DEFAULT_MEN_VALUE=20

REACT_APP_DEFAULT_BOARD_ROW_NUMBER=8
REACT_APP_DEFAULT_BOARD_COLUMN_NUMBER=8

REACT_APP_DEFAULT_TILE_SIZE=40

# IMG COUNT
REACT_APP_SETUP_BGS=5
REACT_APP_BATTLE_BGS=3
