/* .page-battle {
  display: grid;
  grid-template-areas:
    "auto auto"
    "auto auto";
} */

.battle {
  display: grid;
  grid-template-areas:
    "auto auto"
    "auto auto"
    "auto auto";
  grid-template-rows: auto 80vh 20vh;
  height: 100vh;
}

.battle-toolbar {
  display: flex;
  flex-direction: row;
  background-color: #E5D3B3;
  border-bottom: solid 1px #664229;
  padding: 0.25rem;
  gap: 0.25rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
