@font-face {
  font-family: 'Fundamento';
  src: url(../fonts/Fondamento-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

*, *:before, *:after {

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Fundamento', sans-serif;
  background-color: #E5D3B3;
}

input {
  padding: 5px;
}

input:focus {
  outline: none;
}

.card-border {
  border-width: .5rem;
  border-color: #664229;
  border-style: double;
  padding: 2rem;
}

/* palette */
/*
#B99976
#D2B48C
#E5D3B3
#987554
#664229
*/
